In [1]:
import os
import numpy as np
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder, MinMaxScaler
from sklearn.model_selection import train_test_split

In [109]:
root = os.getcwd() #get root path

In [110]:
df = pd.read_csv(root + '\dataset\\telkom_customer_16-01-2024.csv')
df.info() #check data type

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [111]:
df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [112]:
df.drop('customerID', axis=1, inplace=True)

In [113]:
df.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [114]:
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce') #change data type to numeric

In [115]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
 14  Contract          7043 non-null   object
 15  PaperlessBilling  7043 non-null   object
 16  PaymentMethod     7043 non-null   object
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7032 non-null   float64
 19  Churn             7043 non-null   object
dtypes: float64(2), int64(2), object(16)
memory usage: 1.1+ MB

In [116]:
def unique_categorical_column(df):
    for column in df.columns:
        if df[column].dtypes == "object":
            print(f"{column} : {df[column].unique()}")

In [117]:
unique_categorical_column(df)

gender : ['Female' 'Male']
Partner : ['Yes' 'No']
Dependents : ['No' 'Yes']
PhoneService : ['No' 'Yes']
MultipleLines : ['No phone service' 'No' 'Yes']
InternetService : ['DSL' 'Fiber optic' 'No']
OnlineSecurity : ['No' 'Yes' 'No internet service']
OnlineBackup : ['Yes' 'No' 'No internet service']
DeviceProtection : ['No' 'Yes' 'No internet service']
TechSupport : ['No' 'Yes' 'No internet service']
StreamingTV : ['No' 'Yes' 'No internet service']
StreamingMovies : ['No' 'Yes' 'No internet service']
Contract : ['Month-to-month' 'One year' 'Two year']
PaperlessBilling : ['Yes' 'No']
PaymentMethod : ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
Churn : ['No' 'Yes']

In [118]:
df.replace(['No internet service', 'No phone service'], 'No', inplace=True)

In [119]:
unique_categorical_column(df)

gender : ['Female' 'Male']
Partner : ['Yes' 'No']
Dependents : ['No' 'Yes']
PhoneService : ['No' 'Yes']
MultipleLines : ['No' 'Yes']
InternetService : ['DSL' 'Fiber optic' 'No']
OnlineSecurity : ['No' 'Yes']
OnlineBackup : ['Yes' 'No']
DeviceProtection : ['No' 'Yes']
TechSupport : ['No' 'Yes']
StreamingTV : ['No' 'Yes']
StreamingMovies : ['No' 'Yes']
Contract : ['Month-to-month' 'One year' 'Two year']
PaperlessBilling : ['Yes' 'No']
PaymentMethod : ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
Churn : ['No' 'Yes']

In [123]:
df.loc[:, df.columns != 'InternetService'] = df.loc[:, df.columns != 'InternetService'].replace({'Yes': 1, 'No': 0})
df = df.replace({'Male':1, 'Female': 0})

In [124]:
for column in df:
    print(f"{column} : {df[column].unique()}")

gender : [0 1]
SeniorCitizen : [0 1]
Partner : [1 0]
Dependents : [0 1]
tenure : [ 1 34  2 45  8 22 10 28 62 13 16 58 49 25 69 52 71 21 12 30 47 72 17 27
  5 46 11 70 63 43 15 60 18 66  9  3 31 50 64 56  7 42 35 48 29 65 38 68
 32 55 37 36 41  6  4 33 67 23 57 61 14 20 53 40 59 24 44 19 54 51 26  0
 39]
PhoneService : [0 1]
MultipleLines : [0 1]
InternetService : ['DSL' 'Fiber optic' 'No']
OnlineSecurity : [0 1]
OnlineBackup : [1 0]
DeviceProtection : [0 1]
TechSupport : [0 1]
StreamingTV : [0 1]
StreamingMovies : [0 1]
Contract : ['Month-to-month' 'One year' 'Two year']
PaperlessBilling : [1 0]
PaymentMethod : ['Electronic check' 'Mailed check' 'Bank transfer (automatic)'
 'Credit card (automatic)']
MonthlyCharges : [29.85 56.95 53.85 ... 63.1  44.2  78.7 ]
TotalCharges : [  29.85 1889.5   108.15 ...  346.45  306.6  6844.5 ]
Churn : [0 1]

In [125]:
df2 = pd.get_dummies(data=df, columns=['InternetService', 'Contract', 'PaymentMethod'])

In [126]:
df2.info()
df2.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 27 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   gender                                   7043 non-null   int64
 1   SeniorCitizen                            7043 non-null   int64
 2   Partner                                  7043 non-null   int64
 3   Dependents                               7043 non-null   int64
 4   tenure                                   7043 non-null   int64
 5   PhoneService                             7043 non-null   int64
 6   MultipleLines                            7043 non-null   int64
 7   OnlineSecurity                           7043 non-null   int64
 8   OnlineBackup                             7043 non-null   int64
 9   DeviceProtection                         7043 non-null   int64
 10  TechSupport                              7043 non-null   int64
 11  StreamingTV                              7043 non-null   int64
 12  StreamingMovies                          7043 non-null   int64
 13  PaperlessBilling                         7043 non-null   int64
 14  MonthlyCharges                           7043 non-null   float64
 15  TotalCharges                             7032 non-null   float64
 16  Churn                                    7043 non-null   int64
 17  InternetService_DSL                      7043 non-null   bool
 18  InternetService_Fiber optic              7043 non-null   bool
 19  InternetService_No                       7043 non-null   bool
 20  Contract_Month-to-month                  7043 non-null   bool
 21  Contract_One year                        7043 non-null   bool
 22  Contract_Two year                        7043 non-null   bool
 23  PaymentMethod_Bank transfer (automatic)  7043 non-null   bool
 24  PaymentMethod_Credit card (automatic)    7043 non-null   bool
 25  PaymentMethod_Electronic check           7043 non-null   bool
 26  PaymentMethod_Mailed check               7043 non-null   bool
dtypes: bool(10), float64(2), int64(15)
memory usage: 1004.3 KB

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,...,InternetService_DSL,InternetService_Fiber optic,InternetService_No,Contract_Month-to-month,Contract_One year,Contract_Two year,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,0,1,0,1,0,0,0,1,0,...,True,False,False,True,False,False,False,False,True,False
1,1,0,0,0,34,1,0,1,0,1,...,True,False,False,False,True,False,False,False,False,True
2,1,0,0,0,2,1,0,1,1,0,...,True,False,False,True,False,False,False,False,False,True
3,1,0,0,0,45,0,0,1,0,1,...,True,False,False,False,True,False,True,False,False,False
4,0,0,0,0,2,1,0,0,0,0,...,False,True,False,True,False,False,False,False,True,False

In [127]:
for column in df2:
    if df2[column].dtype == 'bool':
        df2[column] = df2[column].astype('int64')

In [128]:
df2.info()
df2.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 27 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   gender                                   7043 non-null   int64
 1   SeniorCitizen                            7043 non-null   int64
 2   Partner                                  7043 non-null   int64
 3   Dependents                               7043 non-null   int64
 4   tenure                                   7043 non-null   int64
 5   PhoneService                             7043 non-null   int64
 6   MultipleLines                            7043 non-null   int64
 7   OnlineSecurity                           7043 non-null   int64
 8   OnlineBackup                             7043 non-null   int64
 9   DeviceProtection                         7043 non-null   int64
 10  TechSupport                              7043 non-null   int64
 11  StreamingTV                              7043 non-null   int64
 12  StreamingMovies                          7043 non-null   int64
 13  PaperlessBilling                         7043 non-null   int64
 14  MonthlyCharges                           7043 non-null   float64
 15  TotalCharges                             7032 non-null   float64
 16  Churn                                    7043 non-null   int64
 17  InternetService_DSL                      7043 non-null   int64
 18  InternetService_Fiber optic              7043 non-null   int64
 19  InternetService_No                       7043 non-null   int64
 20  Contract_Month-to-month                  7043 non-null   int64
 21  Contract_One year                        7043 non-null   int64
 22  Contract_Two year                        7043 non-null   int64
 23  PaymentMethod_Bank transfer (automatic)  7043 non-null   int64
 24  PaymentMethod_Credit card (automatic)    7043 non-null   int64
 25  PaymentMethod_Electronic check           7043 non-null   int64
 26  PaymentMethod_Mailed check               7043 non-null   int64
dtypes: float64(2), int64(25)
memory usage: 1.5 MB

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,...,InternetService_DSL,InternetService_Fiber optic,InternetService_No,Contract_Month-to-month,Contract_One year,Contract_Two year,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,0,1,0,1,0,0,0,1,0,...,1,0,0,1,0,0,0,0,1,0
1,1,0,0,0,34,1,0,1,0,1,...,1,0,0,0,1,0,0,0,0,1
2,1,0,0,0,2,1,0,1,1,0,...,1,0,0,1,0,0,0,0,0,1
3,1,0,0,0,45,0,0,1,0,1,...,1,0,0,0,1,0,1,0,0,0
4,0,0,0,0,2,1,0,0,0,0,...,0,1,0,1,0,0,0,0,1,0

In [129]:
scaler = MinMaxScaler()

numeric_column = ['tenure', 'MonthlyCharges', 'TotalCharges']
df2[numeric_column] = scaler.fit_transform(df2[numeric_column])

In [130]:
df2.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,...,InternetService_DSL,InternetService_Fiber optic,InternetService_No,Contract_Month-to-month,Contract_One year,Contract_Two year,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,0,1,0,0.013889,0,0,0,1,0,...,1,0,0,1,0,0,0,0,1,0
1,1,0,0,0,0.472222,1,0,1,0,1,...,1,0,0,0,1,0,0,0,0,1
2,1,0,0,0,0.027778,1,0,1,1,0,...,1,0,0,1,0,0,0,0,0,1
3,1,0,0,0,0.625000,0,0,1,0,1,...,1,0,0,0,1,0,1,0,0,0
4,0,0,0,0,0.027778,1,0,0,0,0,...,0,1,0,1,0,0,0,0,1,0

In [132]:
df2.columns

Index(['gender', 'SeniorCitizen', 'Partner', 'Dependents', 'tenure',
       'PhoneService', 'MultipleLines', 'OnlineSecurity', 'OnlineBackup',
       'DeviceProtection', 'TechSupport', 'StreamingTV', 'StreamingMovies',
       'PaperlessBilling', 'MonthlyCharges', 'TotalCharges', 'Churn',
       'InternetService_DSL', 'InternetService_Fiber optic',
       'InternetService_No', 'Contract_Month-to-month', 'Contract_One year',
       'Contract_Two year', 'PaymentMethod_Bank transfer (automatic)',
       'PaymentMethod_Credit card (automatic)',
       'PaymentMethod_Electronic check', 'PaymentMethod_Mailed check'],
      dtype='object')

In [133]:
X= df2.drop('Churn', axis=1)
Y= df2['Churn']

In [134]:
train_x, test_x, train_y, test_y = train_test_split(X, Y, test_size=0.2, random_state=42)

In [135]:
input = tf.keras.Input(shape=(26,))
layer1 = tf.keras.layers.Dense(38, activation='relu')(input)
layer2 = tf.keras.layers.Dense(76, activation='relu')(layer1)
layer3 = tf.keras.layers.Reshape((76, 1))(layer2)
layer4 = tf.keras.layers.Bidirectional(tf.keras.layers.LSTM(23))(layer3)
layer5 = tf.keras.layers.Dense(76, activation='relu')(layer4)
output = tf.keras.layers.Dense(1, activation='sigmoid')(layer5)

model = tf.keras.Model(inputs=input, outputs=output)

In [136]:
len_train = len(train_x)
len_test = len(test_x)
train_steps = len_train // 64
test_steps = len_test // 64

In [137]:
model.compile(optimizer=tf.keras.optimizers.Adam(learning_rate=0.001), loss='binary_crossentropy', metrics=['accuracy'])


model.fit(train_x, train_y, epochs=200, steps_per_epoch=train_steps, validation_data=(test_x, test_y), validation_steps=test_steps)

Epoch 1/200
88/88 [==============================] - 6s 29ms/step - loss: nan - accuracy: 0.7263 - val_loss: nan - val_accuracy: 0.7353
Epoch 2/200
88/88 [==============================] - 2s 21ms/step - loss: nan - accuracy: 0.7326 - val_loss: nan - val_accuracy: 0.7353
Epoch 3/200
88/88 [==============================] - 2s 22ms/step - loss: nan - accuracy: 0.7357 - val_loss: nan - val_accuracy: 0.7353
Epoch 4/200
88/88 [==============================] - 2s 21ms/step - loss: nan - accuracy: 0.7377 - val_loss: nan - val_accuracy: 0.7353
Epoch 5/200
88/88 [==============================] - 2s 21ms/step - loss: nan - accuracy: 0.7280 - val_loss: nan - val_accuracy: 0.7353
Epoch 6/200
88/88 [==============================] - 2s 21ms/step - loss: nan - accuracy: 0.7371 - val_loss: nan - val_accuracy: 0.7353
Epoch 7/200
88/88 [==============================] - 2s 21ms/step - loss: nan - accuracy: 0.7340 - val_loss: nan - val_accuracy: 0.7353
Epoch 8/200
88/88 [==============================] - 2s 21ms/step - loss: nan - accuracy: 0.7356 - val_loss: nan - val_accuracy: 0.7353
Epoch 9/200
88/88 [==============================] - 2s 21ms/step - loss: nan - accuracy: 0.7319 - val_loss: nan - val_accuracy: 0.7353
Epoch 10/200
88/88 [==============================] - 2s 21ms/step - loss: nan - accuracy: 0.7352 - val_loss: nan - val_accuracy: 0.7353
Epoch 11/200
88/88 [==============================] - 2s 21ms/step - loss: nan - accuracy: 0.7389 - val_loss: nan - val_accuracy: 0.7353
Epoch 12/200
88/88 [==============================] - 2s 21ms/step - loss: nan - accuracy: 0.7312 - val_loss: nan - val_accuracy: 0.7353
Epoch 13/200
88/88 [==============================] - 2s 22ms/step - loss: nan - accuracy: 0.7308 - val_loss: nan - val_accuracy: 0.7353
Epoch 14/200
88/88 [==============================] - 2s 22ms/step - loss: nan - accuracy: 0.7401 - val_loss: nan - val_accuracy: 0.7353
Epoch 15/200
88/88 [==============================] - 2s 21ms/step - loss: nan - accuracy: 0.7343 - val_loss: nan - val_accuracy: 0.7353
Epoch 16/200
88/88 [==============================] - 2s 22ms/step - loss: nan - accuracy: 0.7352 - val_loss: nan - val_accuracy: 0.7353
Epoch 17/200
27/88 [========>.....................] - ETA: 1s - loss: nan - accuracy: 0.7197

KeyboardInterrupt: